.imageCategory {
  justify-content: center;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.vegBox {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
}

.vegContainer {
  flex-direction: column;
}

.CategoryCard-vegBox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.CategoryCard-container {
  background-color: #efebe5;
  text-align: center;
  height: 350px;
  position: relative;
}

.CategoryCard-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.CategoryCard-nameContainer {
  display: flex;
  justify-content: center;
}

.CategoryCard-vegBox {
  text-align: center;
}

.Vegetable-shorttext {
  padding: 10px;
  text-align: center;
}

.CategoryCard-button {
  position: absolute;
  bottom: 0;
  transform: translateX(-60%);
  background-color: white;
  border: 1px solid #e8cac3;
  font-family: Lato, sans-serif;
  width: 150px;
  height: 40px;
  border: none;
  margin: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}

.CategoryCard-button:hover {
  background-color: #504139;
  color: white;
}
