.navbar {
  background-color: #fffef8;
  flex-direction: row;
  align-items: center;
  color: #504139;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}
